<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RAD-London</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/london.js"></script>
</head>
<body>
  <h1>RAD-LONDON</h1>
  <p>Luke is a G</p>
</body>
</html> -->



<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/london.js"></script>
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwdgBlVhH5h7-3lA-XQU5oD--PF-xwILA&libraries=places&callback=initAutocomplete"
         async defer></script>
    <title>RAD-London</title>
    
  </head>
  <body>
    <h1>RAD-LONDON</h1>
    <p>Luke is a G</p>
    <!-- GOOGLE MAPS -->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </body>
</html>