<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">    
    <title>RAD-London</title>
    
  </head>
  <body>
    <h1>RAD-LONDON</h1>
    <p>Luke is a G</p>
    <!-- GOOGLE MAPS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/london.js"></script>
 

  </body>
</html>