<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RAD-London</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/london.js"></script>
</head>
<body>
  <h1>RAD-LONDON</h1>
  <p>Luke is a G</p>
</body>
</html>