<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="icon" href="images/favicon.ico">  -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/london.js"></script>
    
    <title>RAD London</title>
  </head>
  <body>

    <header>
      <div class="logo">
        <h1 id="logo">RAD.LONDON</h1>
      </div>
      <div class="navigation-links">
        <ul id="nav-links">
          <li class="home"><a href="http://localhost:3000/">Home</a></li>
          <li class="places"><a href="http://localhost:3000/places">Places</a></li>
        </ul>
      </div>
    </header>
    <p>Seed data going here</p>

  </body>
</html>