<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="icon" href="images/favicon.ico">  -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/london.js"></script>
    
    <title>RAD London</title>
  </head>
  <body>

    <header>
      <div class="nav">
        <ul>
          <li class="home"><a href="http://localhost:3000/">Home</a></li>
          <li class="about"><a href="http://localhost:3000/places">Places</a></li>
        </ul>
      </div>
    </header>
    <h1>RAD London</h1>
    <p>Seed data going here</p>

    <h1>RAD-LONDON</h1>
    <p>Luke is a G</p>
    <!-- GOOGLE MAPS -->
  </body>
</html>