<header>
  <div class="nav">
    <ul>
      <li class="Home"><a href="http://localhost:3000/">Home</a></li>
      <li class="About"><a href="http://localhost:3000/places">Places</a></li>
    </ul>
  </div>
</header>

<h3>YOUR RESULTS</h3>

<p>insert map and search results on this page</p>
<link rel="stylesheet" href="/css/styles.css">


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwdgBlVhH5h7-3lA-XQU5oD--PF-xwILA&libraries=places&callback=initMap"
         async defer></script>
<script src="/js/map.js"></script>

    <div id="map"></div>


<p> bottom of page</p>