
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<header>
  <div class="logo">
    <h1 id="logo">RAD.LONDON</h1>
  </div>
  <div class="navigation-links">
    <ul id="nav-links">
      <li class="home"><a href="http://localhost:3000/">Home</a></li>
      <li class="places"><a href="http://localhost:3000/places">Places</a></li>
    </ul>
  </div>
</header>

  <h3>YOUR RESULTS</h3>

  <p>insert map and search results on this page</p>
  <div id="map"></div>

  <div id="slideout">
    <div id="containclickme">
    <div class="metro three-d" id="click-me"></div>
  </div>
  </div>
  
  <p> bottom of page</p>  
  <script src="/js/map.js"></script>
</body>
</html>

