<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RAD.LONDON</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<header>
  <div class="logo">
    <h1 id="logo">RAD.LONDON</h1>
  </div>
  <div class="navigation-links">
    <ul id="nav-links">
      <li class="home"><a href="/">Home</a></li>
      <li class="places"><a href="/places">Places</a></li>
    </ul>
  </div>
</header>

  <div id="map"></div>

  <div class="information" id="info-box">
    <h2 class="title"></h2>
<<<<<<< HEAD

    <div id="close-side">
      <p id="close-bar">X</p>
    </div>

=======
    <div id="close-side">
      <p id="close-bar">X</p>
    </div>
>>>>>>> 054a3a6304050f06cdab8564e256dd5d67db49af
    <ul>
    <% for(var i = 0; i < places.length; i ++) { %>
      <li id="image" data-attribute="<%= places[i].historyModels[0].image %>"></li>
      <li id="place-name" data-attribute="<%= places[i].name %>"></li>
      <li id="place-content" data-attribute="<%= places[i].historyModels[0].content %>"></li>      
    <% } %>
  </ul>
<<<<<<< HEAD

=======
>>>>>>> 054a3a6304050f06cdab8564e256dd5d67db49af
  </div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAscx6n0HVemPA-ZSPmXGeIQ8LZywi08Os&callback=initMap"></script>
<script src="/js/map.js"></script>
</body>
</html>