<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Places Page</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAscx6n0HVemPA-ZSPmXGeIQ8LZywi08Os&callback=initMap"></script>
</head>
<body>
  <header>
    <div class="nav">
      <ul>
        <li class="Home"><a href="http://localhost:3000/">Home</a></li>
        <li class="About"><a href="http://localhost:3000/places">Places</a></li>
      </ul>
    </div>
  </header>

  <h3>YOUR RESULTS</h3>

  <p>insert map and search results on this page</p>
  <div id="map"></div>



  <p> bottom of page</p>  
  <script src="/js/map.js"></script>
</body>
</html>

