html, body {
  background-image: url("http://wanago.co.uk/images/uploads/locations/jacktheripper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Playfair Display SC', serif;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  text-align: center;
  position: relative;
  top: 3%;
  padding: 0;
}

#rad-header {
  font-size: 120px;
  /*border: 1px solid red;*/
  margin-bottom: 0px;
  /*font-family: 'Playfair Display SC', serif;*/
}

.blurb {
  width: 750px;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 3%;
  padding: 0;
}

header {
  background-color: #444;
  width: 100%;
  height: 6%;
}

.logo {
  width: 30%;
  margin-left: 5%;
  display: inline-block;
}

#logo {
  margin: 0;
  color: white;
}

.navigation-links {
  width: 35%;
  margin-top: 10px;
  display: inline-block;
  float: right;
  color: white;
  text-align: right;
}

.twitt-profile-image {
  display: inline-block;
  border: 1px solid red;
  height: 25px;
}

.twitter-pic {
  width: 60%;
  vertical-align: middle;
}

#nav-links {
  border: 1px solid red;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  height: 25px;
  width: 350px;
  vertical-align: middle;
}

#nav-links li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-decoration: none;
  /*vertical-align: middle;*/
}

li :visited {
  color: white;
}

li :hover {
 color: #A23730;
}

.nav-links {
  margin-left: 5%;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  font-color: black;
  position: relative;
  top: 6%;
}

p {
  /*margin: 0;*/
  font-family: 'Playfair Display SC', serif;
}

a, twitt-button {
  text-decoration: none;
  color: white;
}