html, body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-image: linear-gradient(to right, red, orange);*/
}


header {
  background-color: #444;
  width: 100%;
  height: 6%;
}

#logo {
  height: 30px;
  border: 1px solid white;
  border-radius: 50px 50px;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  padding-top: 2px;
  width: 30%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.navigation-links {
  width: 35%;
  margin-top: 10px;
  display: inline-block;
  float: right;
  color: white;
  text-align: right;
}

.twitt-profile-image {
  display: inline-block;
  /*border: 1px solid red;*/
  height: 25px;
}

.twitter-pic {
  width: 20px;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 50px 50px;
}

#nav-links {
  /*border: 1px solid red;*/
  list-style-type: none;
  margin: 0;
  display: inline-block;
  height: 25px;
  width: 300px;
  vertical-align: middle;
  margin-right: 5%;
  margin-top: -3%;
}

#nav-links li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-decoration: none;
}

li :visited {
  color: white;
}

li :hover {
 color: #A23730;
}

.nav-links {
  margin-left: 5%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  font-color: black;
  position: relative;
  top: 6%;
}

p {
  font-family: 'Playfair Display SC', serif;
}

a, twitt-button {
  text-decoration: none;
  color: white;
}


/* GOOGLE MAPS CSS*/

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}


/* SLIDE OUT css styles */

#map {
  width: 100%;
  height: 80%;
  position: relative;
}

#info-box {
  width: 40%;
  height: 76.8%;
  z-index: 99;
  /*float: right;*/
  border: 10px solid rgba(0,0,0,0.1);
  display: none;
  position: absolute;
  right: 0;
  top: 13.6%;
  background-color: rgba(0,0,0,0.75);
  color: white;
  overflow: auto;
  padding-left: 7px;
}

li{
  list-style-type: none;
  color: white;
}

#functionality {
  display: none;
}

.title {
  display: inline-block;
  width: 90%;
  text-align: center;
}

#close-bar {
  display: inline-block;
  width: 6%;
  font-family: 'Oswald', sans-serif;
  color: #AB3C34;
}

#close-bar:hover{
  cursor: pointer;
}

.place-information {
  font-family: 'Playfair Display', serif;
}

/*.twitter-pic{
  border: 1px solid white;
  border-radius: 50px 50px;
  width: 100px;
}*/
#like{
  display: inline-block;
  text-align: center;
}

#like:hover{
  cursor: pointer;
}
.actual-place-id{
  display: none;
}
#twitter-hidden{
  display: none;
}
#image-tag{
  padding-top: 5px;
  width:100%;
}
.profile-picture{
  display: inline-block;
  margin:  0 auto;
  text-align: center;
}
